* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: blue;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.innercontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.75rem;
    margin: auto;
     background-color: #FAF9F6;;
}

#container-bcg {
    margin-bottom: 20px;
     background-color: #FAF9F6;;
}

.wrapper {
     background-color: #FAF9F6;;
}

