.card {
    margin: auto;
    margin-bottom: 20px;
}

.card h5 {
    font-weight: 500;
}

.in-line {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card-body a {
    text-decoration: none;
}

#card-btn {
    padding-top: -10;
    margin: 0;
}
