* {
    box-sizing: border-box;
    margin: 0;
}

.Container {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

h1 {
    color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}
