/* Custome Fonts*/
@font-face {
    font-family: Centra;
    src: url 
}


* {
    box-sizing: border-box;
    text-decoration: none;
  }

.container {
    background-color: grey;
    border:

}

.home {
    color: white;
}