* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
}
.carousel-caption a {
    text-decoration: none;
}

.carousel-caption a:hover {
    color: orange;
}

#carouselExampleCaptions {
    margin-bottom: 20px;
}

.fa-brands .fa-github .fa-2xl:hover {
    color: orange;
}