.card-title a {
    font-size: 10rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  .top-image {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 20px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 10px;
    right: 40px;
  }


  