body {
  background-color: #FFFDD0;
}


.top-image {
  margin-top: 40px;
}

.card-title a {
    font-size: 10rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  .top-image {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-top: -40px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 10px;
    right: 40px;
  }

  .flex-container {
    display: flex;
  }

  img {
    height: 140px;
  }

  .container {
    background-color: black;
    border-radius: 1rem;
    margin-top: 20px;
    flex-direction: row;
  }

  .w-full {
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .mb-12 a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .mb-40 {
    margin-top: -20px;
  }

  .mx-auto {
    margin-bottom: 20px;
  }

  .card {
    width: 18rem;
  }

  .aboutme-bckgrnd {
    background: linear-gradient( #FAF9F6, #FAF9F6, rgb(255 255 255),rgb(255 255 255));
    color: white;
    padding-bottom: 20px;
  }





 
  /* Desireable feature section */
 

  .feat-fullscreen {
    background-color: white;
    padding-top: 20px;
  }

  #des-cont {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }

  #des-cont p {
    color: black
  
  }

  #feature-title-1 {
    color: black;
    font-weight: 750;
  }

  #feature-title {
    color: purple;
  }

  /*SVG */
  .mb-12 .rounded-full {
    background-color: rgba(180, 184, 255, 1);
  }

  /* Rotating Navbar */
  .rotating-body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: white;
  }

  .logo {
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


  .logo-slide {
    animation: 35s slide infinite linear;
    display: inline-block;
  }

  .logo:hover .logo-slide {
    animation-play-state: paused;

  }

  .logo:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    content: "";
    z-index: 2;
  }
  

  .logo-slide .fa-brands {
    height: 50px;
    color: black;
    margin: 0 200px;
  } 

  .logo:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    content: "";
    z-index: 2;
  }



  @media only screen and (max-width: 612px) {
    .container {
      border-radius: 1rem;
    }
  }