@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    text-decoration: none;
}

.bg-navy {
    background-color: rgb(31, 41, 55)
} 

.text-base a {
    color: #fff;
    text-decoration: none;
}

.px-5 a {
    color: #ffff;
}

.px-5 a:hover {
    color: orange;
}
